In [5]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [6]:
# Define your connection parameters
connection_params = {
    'host': 'localhost', # e.g., 'localhost' or '127.0.0.1'
    'database': 'platformdb1', # Name of your database
    'user': 'root', # Your MySQL username
    'password': '0000', # Your MySQL password
}

df = pd.read_excel('output1.xlsx',engine= 'openpyxl')
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%y')

In [7]:
try:
    # Establish the connection
    connection = mysql.connector.connect(**connection_params)
    
    if connection.is_connected():

        for table, column in [
            # ('dates', 'date'),
            # ('Brand', 'brand'),
            # ('Category', 'Category'),
            ('Reigon', 'Reigon'),
            ('SKU', 'sku'),
            ('SizeBracket','size_bracket')
        ]:
            cursor = connection.cursor()
            unique_values = df[column].drop_duplicates().dropna().tolist() 

            data_to_insert = [(v,) for v in unique_values]

            if column == 'date': 
                query = f"INSERT INTO {table} ({column}) VALUES (%s)"
            else : 
                query = f"INSERT INTO {table} ({column}_name) VALUES (%s)"

            cursor.executemany(query, data_to_insert)
            connection.commit()

            print("successfully ingested into the database.")
except Error as e:
    print("Error while connecting to MySQL", e)

In [ ]:
connection = mysql.connector.connect(**connection_params)

cursor = connection.cursor()
if connection.is_connected():

    category_id = size_bracket_id = sku_id = None

    # Now, insert data into the fact_sales table
    for index, row in df.iterrows():
        # Fetch foreign keys based on the unique names
        cursor.execute("SELECT date_id FROM dates WHERE date = (%s)", (row['date'],))
        date_id = cursor.fetchone()[0]
        
        cursor.execute("SELECT brand_id FROM Brand WHERE brand_name = %s", (row['brand'],))
        brand_id = cursor.fetchone()[0]
        
        if pd.notna(row['Category']) :
            cursor.execute("SELECT category_id FROM Category WHERE category_name = %s", (row['Category'],))
            category_id = cursor.fetchone()[0]
        
        if pd.notna(row['size_bracket']) :
            cursor.execute("SELECT size_bracket_id FROM sizebracket WHERE size_bracket_name = %s", (row['size_bracket'],))
            size_bracket_id = cursor.fetchone()[0]
        
        cursor.execute("SELECT Reigon_id FROM Reigon WHERE Reigon_name = %s", (row['Reigon'],))
        reigon_id = cursor.fetchone()[0]

        if pd.notna(row['sku']) :
            cursor.execute("SELECT sku_id FROM SKU WHERE sku_name = %s", (row['sku'],))
            sku_id = cursor.fetchone()[0]
            
         # Prepare the dynamic SQL query and parameters
        columns = ['date_id', 'brand_id', 'Reigon_id']
        values = [date_id, brand_id, reigon_id]
        
        if category_id is not None:
            columns.append('category_id')
            values.append(category_id)
        
        if size_bracket_id is not None:
            columns.append('size_bracket_id')
            values.append(size_bracket_id)
        
        if sku_id is not None:
            columns.append('sku_id')
            values.append(sku_id)

        if pd.notna(row['Sales (KGS) (000)']):
            columns.append('volume_sales')
            values.append(row['Sales (KGS) (000)'])

        if pd.notna(row['Sales (KGS) (000)']):
            columns.append('value_sales')
            values.append(row['Sales Value (000)'])
        
        if pd.notna(row['Weighted Distribution - Reach']):
            columns.append('WOD')
            values.append(row['Weighted Distribution - Reach'])

        # Build the final query
        insert_query = f"INSERT INTO RawData ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"
        
        # Execute the dynamic query
        print(tuple(values))
        cursor.execute(insert_query, tuple(values))

    # Commit the transaction
    connection.commit()
    print("Data inserted successfully into RawData table.")